<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" dest="err">
  <Properties>
    <Property name="logger1">appService.logger.AppLogger</property>
    <Property name="logger2">appService.logger.AppLogger</property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <!-- <PatternLayout pattern="[%t] %-5level %logger{36} - %msg%n"/> -->
    </Console>
    <Console name="SysERR" target="SYSTEM_ERR">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>