body{
    background-image: url(/img/bgPic01Gears.png);
    /* background-size: 30em;
    background-repeat: repeat-x repeat-y; */
    background-color: khaki;
    background-repeat: no-repeat;
    background-position: right;
}
h1, h2, h3 {
    color: rebeccapurple; 
    font-family: 'Courier New', Courier, monospace ;
    border: 2px solid black;
    /* font-variant: small-caps; */
    font:caption; /* This calls the system fonts */
}

/* Override by providing a more specific selector */
div.row2>* {
    color:red;
    /* border: 0; */
    font-style: oblique;
    /* font-variant: small-caps;  */
    text-decoration: blink;
}